body {
  background-color: rgb(255, 255, 255);
  color: #334eac;
  font-family: Arial, sans-serif;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
}

.header-text {
  text-align: left;
  flex: 1;
}

h1{ 
  font-size: 5rem;
  margin: 5px 10px 15px;
  font-family: 'Times New Roman', Times, serif;
}

.main-header img {
  height: 500px;
  width: auto;
}